<ul class="nav justify-content-end">
    {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a class="btn btn-info" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'register' %}">Register</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'movie-catalogue' %}">Catalogue</a>
        </li>
    {% else %}

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'profile' request.user.pk %}">Profile</a>
        </li>

        {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="btn btn-info" href="{% url 'movie-create' %}">Create</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'movie-catalogue' %}">Catalogue</a>
        </li>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}

            <button class="btn btn-info">Logout</button>

        </form>

    {% endif %}
</ul>