<ul style="
        display: flex;
        justify-content: flex-end;

        gap: 10px;
        list-style: none;
    ">

    {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'register' %}">Register</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'movie-catalogue' %}">Movies</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'actor-catalogue' %}">Actors</a>
        </li>

    {% else %}

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'profile' request.user.pk %}">Profile</a>
        </li>
        
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'movie-create' %}">Create Movie</a>
        </li>
        
        {% if request.user.is_staff %}
            
            <li class="nav-item">
                <a class="btn btn-info" href="{% url 'actor-create' %}">Create Actor</a>
            </li>
            
        {% endif %}

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'movie-catalogue' %}">Movies</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'actor-catalogue' %}">Actors</a>
        </li>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}

            <button class="btn btn-danger">Logout</button>

        </form>

    {% endif %}
</ul>